VITE_APP_TITLE=Simple Chatbot
VITE_SERVER_URL=... #optional: if serving frontend externally from backend, or requesting agent from API
VITE_MANUAL_ROOM_ENTRY=... #optional: require user to specify a room URL to join 
VITE_OPEN_MIC= # Can the user speak freely, or do they need to wait their turn? 
VITE_USER_VIDEO= #Does the app require the user's webcam?
VITE_DAILY_API_URL=https://api.daily.co/v1
VITE_SHOW_SPLASH=1 # Show a splash page with marketing info
VITE_SHOW_CONFIG= # Show demo config options first