.expiry {
  margin-left: auto;
  display: flex;
  flex-flow: column wrap;
  font-size: var(--font-size-sm);
}

.header {
  font-size: var(--font-size-xs);
  font-family: var(--font-mono);
  text-transform: uppercase;
  letter-spacing: 0.7px;
  color: var(--color-gray-600);
}

.time {
  font-weight: 600;
}
