.container {
  display: flex;
  flex-flow: column wrap;
  gap: 1.5rem;
  width: var(--layout-aside-width);
  box-sizing: border-box;
  border-left: 1px solid var(--color-gray-200);
  height: 100%;
  font-size: var(--font-size-sm);

  @media (max-width: 768px) {
    gap: 1rem;
    padding: 1rem;
  }
}

.statsContainer {
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;

  padding: 0 1rem;
}

.serviceName {
  font-weight: 500;
}

.statValue {
  line-height: 1;
  font-family: var(--font-mono);
  text-transform: uppercase;
  font-size: var(--font-size-xs);
  display: inline-flex;
  flex-flow: row nowrap;
  gap: 5px;

  span {
    line-height: 1;
  }

  span:global(.bold) {
    font-weight: bold;
  }
  sub {
    vertical-align: baseline;
    margin-left: 2px;
    font-size: 65%;
  }
}

.statsHeader {
  background-color: var(--color-gray-100);
  font-weight: 600;
  padding: 8px 0;
}

.serviceStat {
  font-size: var(--font-size-sm);
}

.chart {
  width: auto;
  height: 80px;
  line-height: 1;
}

.rangeRow {
  display: flex;
  flex-flow: row nowrap;
  font-size: 11px;
  font-family: var(--font-mono);
  justify-content: space-between;
  width: 100%;
}
